# Maven files
target/


# Eclipse files
.settings/
.project
.classpath

# TestNG report files
test-output/

# Sure fire reports
surefire-reports/

# extent reports
extent-reports/screenshots/*.png
extent-reports/index.html

.vscode/

.env